html, body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-family: "Segoe UI", "Segoe", "SegoeUI-Regular-final", Tahoma, Helvetica, Arial, sans-serif;
}

#fullPage {
  width: 100%;
  height: 100%;
  background-color: inherit;
}

#headerWrapper {
  display: block;
  width: 100%;
  height: 300px;
  border-bottom: solid;
  background-color: #4488DD;
  background-image: url("https://wallpaperplay.com/walls/full/4/2/0/137464.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#contentWrapper {
  margin-bottom: 100px;
}

.evalButton {
  width: 20%;
  margin-left: 5px;
  margin-right: 5px;
}

#takeEvalButton {
  width: 50%;
}

#header {
  text-align: center;
  padding-top: 130px;
  font-size: 250%;
  font-weight: lighter;
  overflow: hidden;
}

#addEvalNav {
  display: inline;
  margin-right: 15px;
}

#registerStudents {
  display: inline;
}

#logoutNav {
  display: block;
  float: right;
}

#addEvalButton, #logoutButton {
  width: 150px;
}

#footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F7F7F7;
}

#modalBody {
  height: 430px;
}

#navWrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-bottom: 50px;
  border-bottom: solid;
  z-index: 1000;
  background-color: #FFFFFF;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  padding-top: 15px;
  padding-bottom: 15px;
}

#headerWrapper, #navWrapper {
  border-width: 1px;
  border-color: #696969;
}

.text-center {
  margin-bottom: 25px;
}

.btn-primary {
  color: #696969;
  border-color: #696969;
  background-color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}


.btn-primary:hover {
  background-color: #4488DD;
  border-color: #4488DD;
}

.card-header {
  background-color: #4488DD;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  #addEvaluation {
    margin-right: 0;
  }

  #addEvaluation, #registerStudents, #logoutNav {
    width: 100%;
  }

  #addEvalButton, #logoutButton, #takeEvalButton, .evalButton {
    width: 100%;
  }

  #addEvalNav {
    margin-right: 0;
  }
}

@media (min-width: 992px)
.modal-lg, .modal-xl {
    min-height: 800px;
}
