* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  font-weight: 300;
  font-family: "Segoe UI", "Segoe", "SegoeUI-Regular-final", Tahoma, Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 300;
  padding-bottom: 25px;
  margin-bottom: 20px;
  border-bottom: solid 1px;
}

h2 {
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: solid 1px;
}

#questionTextWrapper {
  margin-bottom: 50px;
}

#questionText {
  font-weight: 300;
  text-align: center;
}

#fullPage {
  width: 100%;
  height: 100%;
  background-color: inherit;
}

#headerWrapper {
  display: block;
  width: 100%;
  height: 300px;
  border-bottom: solid;
  background-color: #4488DD;
  background-image: url("https://wallpaperplay.com/walls/full/4/2/0/137464.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#contentWrapper {
  margin-bottom: 100px;
}

#takeEvalBtn {
  width: 50%;
}

#changePasswordBtn, #deleteAccountBtn, #changePassword, #deleteAccount {
  width: 100%;
}

#changePassword {
  margin-bottom: 15px;
}

#deleteAccount {
  padding-top: 15px;
  border-top: solid;
  border-width: 1px;
  border-color: #696969;
}

#modalSettingsInfo {
  margin: 0;
}

#header {
  text-align: center;
  padding-top: 130px;
  font-size: 250%;
  font-weight: lighter;
  overflow: hidden;
}

#logoutNav, #settingsNav {
  display: inline;
  float: right;
}

#settingsNav, #homeNav, #addQuestionBtn {
  margin-right: 15px;
}

#addEvalBtn, #homeBtn, #settingsBtn, #logoutBtn, #addQuestionBtn, #addStudentBtn {
  width: 150px;
}

#prevQuestionBtn, #nextQuestionBtn {
  width: 200px;
}

#footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F7F7F7;
}

#modalBody {
  height: 430px;
}

#navWrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-bottom: 50px;
  border-bottom: solid;
  z-index: 1000;
  background-color: #FFFFFF;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  padding-top: 15px;
  padding-bottom: 15px;
}

#headerWrapper, #navWrapper {
  border-width: 1px;
  border-color: #696969;
}

#evalDatesInput {
  flex: 1 1 auto;
  width: 1%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#courseId, #courseName, #evalDates, #question, #difficulty, #complexity, #time, #studentEmail {
  padding-bottom: 20px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #696969;
}

.error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.page {
  display: none;
}

.page-active {
  display: block;
}

.text-center {
  margin-bottom: 25px;
}

.applyBtn {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  background-color: #357EBD !important;
}

.infoText {
  margin-top: 15px;
}

.btn-primary {
  color: #696969;
  border-color: #696969;
  background-color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #4488DD;
  border-color: #4488DD;
}

.evalBtn {
  width: 25%;
  margin-left: 5px;
  margin-right: 5px;
}

.card-header {
  background-color: #4488DD;
  color: #FFFFFF;
}

.sliders {
  margin-bottom: 80px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007BFF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007BFF;
  cursor: pointer;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

@media (max-width: 767px) {
  #addEvaluation {
    margin-right: 0;
  }

  #addEvaluation, #registerStudents, #addQuestionBtn, #homeNav, #settingsNav, #logoutNav, #addEvalBtn,
  #homeBtn, #settingsBtn, #logoutBtn, #takeEvalBtn, .evalBtn, #prevQuestionBtn, #nextQuestionBtn, #addStudentBtn {
    width: 100%;
  }

  #settingsNav, #homeNav {
    margin-right: 0;
  }
}
