<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>EDUEVAL</title>

    <link rel="icon" href="https://pbs.twimg.com/profile_images/671984499648020481/FixFBnRN_400x400.png">
    <script th:src="@{/bootstrap/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
    <link rel="stylesheet" th:href="@{/css/daterangepicker.css}">

    <script th:src="@{/js/external/moment.js}"></script>
    <script th:src="@{/js/external/daterangepicker.js}"></script>
    <script th:src="@{/js/external/canvasjs.min.js}"></script>

    <script th:src="@{/js/teacher/teacherContentGeneration.js}"></script>
    <script th:src="@{/js/teacher/teacherDashboard.js}"></script>
    <script th:src="@{/js/teacher/teacherRest.js}"></script>
    <script th:src="@{/js/teacher/graph2.js}"></script>

    <script th:src="@{/js/common/helperFunctions.js}"></script>
    <script th:src="@{/js/common/contentGeneration.js}"></script>
    <script th:src="@{/js/common/errorChecking.js}"></script>
    <script th:src="@{/js/common/userRest.js}"></script>
    <script th:src="@{/js/common/userSettings.js}"></script>
</head>

<body id="body">
    <section id="fullPage">
        <div id="headerWrapper">
            <div id="header" class="container">
                <p>EDUEVAL</p>
            </div>
        </div>

        <!-- Navigation bar -->
        <div id="navWrapper">
            <nav id="navbar" class="navbar navbar-expand-md navbar-light container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Class for collapseable navbar -->
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <div class="navbar-nav mr-auto">
                        <div id="addEvalNav" class="nav-item">
                            <!-- Button for adding evaluation -->
                            <button id="addEvalBtn" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#modalAddEval'">Add evaluation</button>
                        </div>
                    </div>

                    <div id="settingsNav" class="nav-item">
                        <!-- Button for settings -->
                        <button id="settingsBtn" class="btn btn-primary" data-toggle="modal" data-target="#modalSettings">Settings</button>
                    </div>

                    <div id="logoutNav" class="nav-item">
                        <!-- Button for logging out -->
                        <button id="logoutBtn" class="btn btn-primary" onclick="location.href='/logout'" type="submit">Log out</button>
                    </div>
                </div>
            </nav>
        </div>

        <div id="contentWrapper">
            <div id="content" class="container">
                <div id="workArea">
                    <!-- IDEA: Put the content under here -->
                    <div id="cardArea">
                        <!-- Evaluations will be added under here -->

                    </div>
                    <!-- IDEA: Dont put any content outside here -->

                    <!-- Modal for printing results in bar graph  -->
                    <div th:id="modalResult" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title h4" id="myExtraLargeModalLabel">Evaluation Result</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>

                                <div id="modalBody" class="modal-body">
                                    <div id="chartContainer" style="height: 370px; width:100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for adding evaluation with user input  -->
                    <div class="modal fade" th:id="modalAddEval" tabindex="-1" role="dialog" aria-labelledby="modalAddEvalTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="index.html" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalAddEvalTitle">Add evaluation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div id="modalAddEvalBody" class="modal-body">
                                        <div id="modalAddEvalContent" class="input-group mb-3">

                                            <p>This will be the ID of your course. It would often contain numbers and look something like "ID203920".</p>
                                            <div id="addEvalCourseId" class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Course ID</span>
                                                </div>
                                                <input id="courseIdInput" type="text" class="form-control" placeholder="ID">
                                            </div>

                                            <p class="infoText">This will be the name of the course to the evaluation you want to add. It can contain spaces and usually contains only characters, like "Operating Systems".</p>
                                            <div id="addEvalCourseName" class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" >Course Name</span>
                                                </div>
                                                <input id="courseNameInput" type="text" class="form-control" placeholder="Name">
                                            </div>

                                            <p class="infoText">This will be the date when the evaluation starts and stops. Here you need to choose a start and end date from the datepicker provided.</p>
                                            <div id="addEvalDates" class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Date</span>
                                                </div>
                                                <input id="datesInput" type="text" name="addEval" placeholder="Date" readonly>
                                            </div>

                                            <p class="infoText">This will be the total time of the exam, written in hours.</p>
                                            <div id="addEvalExamTime" class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Exam Time</span>
                                                </div>
                                                <input id="examTimeInput" type="number" min="1" max="5" class="form-control" placeholder="Time" onchange="var input = this; updateInputField(input);">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        <button id="saveEvaluationBtn" type="button" class="btn btn-primary"th:onclick="'generateEvaluation()'">Save evaluation</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for removing evaluations  -->
                    <div class="modal fade" th:id="modalRemove" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removeEvaluationTitle">Removing evaluation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div id="modalRemoveEvalBody" class="modal-body">
                                    <div id="modalRemoveEvalContent" class="input-group">
                                        <p id="modalRemoveInfo">Are you sure you want to remove the evaluation?</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    <button id="removeEvaluationBtn" type="button" class="btn btn-primary" onclick="deleteEvaluation()">Remove evaluation</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for changing user settings  -->
                    <div class="modal fade" id="modalSettings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="userSettingsTitle">User settings</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div id="modalSettingsBody" class="modal-body">
                                    <div id="modalSettingsContent" class="input-group">
                                        <div id="changePassword">
                                            <p>If you want to change the user password, you can press here. You will need to confirm your password and then verify it in your mail.</p>
                                            <button id="changePasswordBtn" class="btn btn-primary" onclick="generateChangePasswordFields()" type="submit">Change password</button>
                                        </div>

                                        <div id="deleteAccount">
                                            <p>If you want to delete your account, push this button.</p>
                                            <p id="modalSettingsInfo">WARNING:</p>
                                            <p>If your account is deleted, there is no way to restore it. All evaluations made with this user would get deleted.</p>
                                            <button id="deleteAccountBtn" class="btn btn-danger" onclick="generateRemoveUserField()" type="submit">Delete account</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
